{{#paper-card class="profile-card top" as |card| }}
  {{users/avatar-box user=session.currentUser}}
  <h2>{{user.name}}</h2>
{{/paper-card}}

{{#paper-card class="profile-card bottom" as |card| }}
  <div class="layout-column">
    <h2>Settings</h2>
{{#paper-form as |form|}}
<h3>User's abilities:</h3>
{{paper-checkbox label="Individual" value=user.individual onChange=(action (mut user.individual))}}
<h3>Uses:</h3>
{{paper-checkbox label="wheelchair" value=user.wheelchair onChange=(action (mut user.wheelchair))}}
<h3>Has injuries?:</h3>
{{paper-checkbox label="spine injury" value=user.spineInjury onChange=(action (mut user.spineInjury))}}
{{paper-checkbox label="amputation" value=user.amputation onChange=(action (mut user.amputation))}}
{{paper-checkbox label="cerebralPalsy" value=user.cerebralPalsy onChange=(action (mut user.cerebralPalsy))}}
{{/paper-form}}

    {{#paper-button onClick=(action "saveProfile")}}Save{{/paper-button}}
  </div>
{{/paper-card}}
