<form >
{{input placeholder="title" value=title }}
{{input placeholder="desc" value=description}}
{{input placeholder="duration - days" value=duration }}
{{input type="date" value=startDate }}
<button {{action 'newEvent'}}>Create</button>
</form>

{{yield}}
