{{#paper-toolbar as |toolbar|}}
  {{#toolbar.tools}}

    <div class="align-self-start">
      {{#paper-speed-dial
        animation='scale' direction='down'
        open=open onToggle=(action (mut open)) as |dial|}}
        {{#dial.trigger}}
          {{#paper-button fab=true}}
            {{paper-icon "menu"}}
          {{/paper-button}}
        {{/dial.trigger}}

        {{#dial.actions as |actions|}}
          {{#actions.action}}
            {{#paper-button mini=true onClick=(action "navigate")}}
              {{paper-icon "face"}}
            {{/paper-button}}
          {{/actions.action}}

          {{#actions.action}}
            {{#paper-button mini=true onClick=(action "navigate")}}
              {{paper-icon "event"}}
            {{/paper-button}}
          {{/actions.action}}

          {{#actions.action}}
            {{#paper-button mini=true onClick=(action "navigate")}}
              {{paper-icon "check-circle"}}
            {{/paper-button}}
          {{/actions.action}}
        {{/dial.actions}}
      {{/paper-speed-dial}}
    </div>

    <h2>StayExtreme</h2>
    <span class="flex"></span>

    {{#if session.isAuthenticated}}
      <h2>{{session.currentUser.name}}</h2>
      {{!users/avatar-box user=session.currentUser}}
      {{buttons/log-out}}
    {{else}}
     <h2>Not logged in</h2>
    {{/if}}
  {{/toolbar.tools}}
{{/paper-toolbar}}


{{!#if session.isAuthenticated}}
  {{!session.currentUser.name}}
  {{!users/avatar-box user=session.currentUser}}
  {{!buttons/log-out}}
{{!else}}
  <!-- Not logged in -->
{{!/if}}

{{outlet}}
